<div class="row">
  <div class="checkbox-group">
    <h4>Layout:</h4>
  </div>
  <div class="checkbox-group">
    @for (option of columnOptions; track option) {
    <label class="checkbox-label">
      <input
        type="checkbox"
        [value]="option.value"
        [checked]="isSelected(option.value)"
        (change)="onCheckboxChange(option.value)"
        class="hidden-checkbox"
      />
      <div class="custom-checkbox">
        <div class="icon" [ngClass]="{ selected: isSelected(option.value) }">
          <!-- Custom SVG icons for columns -->
          @if (option.value === 1) {
          <svg width="32" height="32" viewBox="0 0 32 32">
            <rect x="2" y="4" width="28" height="24" rx="2" />
          </svg>
          } @if (option.value === 2) {
          <svg width="32" height="32" viewBox="0 0 32 32">
            <rect x="2" y="4" width="13" height="24" rx="2" />
            <rect x="17" y="4" width="13" height="24" rx="2" />
          </svg>
          } @if (option.value === 3) {
          <svg width="32" height="32" viewBox="0 0 32 32">
            <rect x="2" y="4" width="8" height="24" rx="2" />
            <rect x="12" y="4" width="8" height="24" rx="2" />
            <rect x="22" y="4" width="8" height="24" rx="2" />
          </svg>
          } @if (option.value === 4) {
          <svg width="32" height="32" viewBox="0 0 32 32">
            <rect x="2" y="4" width="5" height="24" rx="2" />
            <rect x="9" y="4" width="6" height="24" rx="2" />
            <rect x="17" y="4" width="6" height="24" rx="2" />
            <rect x="25" y="4" width="5" height="24" rx="2" />
          </svg>
          }
        </div>
      </div>
    </label>
    }
  </div>
</div>
