/* You can add global styles to this file, and also import other style files */
h1 {
  scroll-margin-top: 75px;
}
h2 {
  scroll-margin-top: 75px;
}
h3 {
  scroll-margin-top: 75px;
}
h4 {
  scroll-margin-top: 75px;
}
